<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Tinder</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link rel="stylesheet" href="./css/bootstrap-material-design.css" />
  <link rel="stylesheet" href="./css/styles.css"/>
</head>
<body>
  <div class="bg-image"></div>
  <div class="container-fluid vertical-center">
